# use this website to update this file on repository; YOU HAVE TO GO Helmholtz-x main folder!
# https://stackoverflow.com/questions/48072655/django-settings-cpython-36-pyc-not-ignored-by-gitignore
# this file ignores the files with the extensions below;

**/__pycache__/
*.pyc
*.egg-info/
*.egg
# *.xdmf
# *.h5
# *.msh